<p><a target="_blank" data-link-type="issue" data-issue="71" data-issue-repo="gitterHQ/sidecar" class="issue">gitterHQ/sidecar#71</a><br><a target="_blank" data-link-type="issue" data-issue="999999" data-issue-repo="gitterHQ/sidecar" class="issue">gitterHQ/sidecar#999999</a><br><a target="_blank" data-link-type="issue" data-issue="39" data-issue-repo="gitterHQ/sidecar" class="issue">gitterHQ/sidecar#39</a></p><p><a target="_blank" data-link-type="issue" data-issue="71" class="issue">#71</a>
</p>
