<pre><code>KaTeX parse error: Undefined control sequence: \&lt; at position 2:  \&#818;&lt;&#818;script&gt;console.&hellip;:  \&lt;script&gt;console.log(&#39;oh no&#39;);&lt;/script&gt; </code></pre>
